body {
    background-color: yellow;
    height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    background-color: white;
    border: 1px solid #999;
    width: 250px;
    padding: 5px;
    display: flex;
    gap: 1rem;
    border-radius: 0.5rem;
    align-items: center;
    paddibng: 0.8rem;
}

small {
    display: block;
    color: #999;
}

.border {
    border: 1px solid skyblue
}